<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome? Result</h2>

    <p>Expression = <%= @expr %></p>
    <p>Result = <%= @y %></p>
  </div>
</div>
